@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


/* variable colors */

:root {
  /* Colors */
  --clr-primary-1: hsl(22, 65%, 57%);
  --clr-primary-1-lt: hsl(21, 94%, 75%);
  --clr-primary-2: hsl(0, 0%, 6%);
  --clr-primary-4: hsl(0, 0%, 98%);
  --clr-primary-6: hsl(0, 0%, 20%);
  --clr-base: hsl(0, 0%, 95%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-grey-1: hsl(0, 0%, 50%);
  --clr-grey-2: hsl(0, 0%, 30%);
  --clr-grey-3: hsl(0, 0%, 81%);
  --clr-border: hsl(0, 0%, 10%);
  --clr-danger: hsl(0, 65%, 49%);

  /* Font size */

  --fs-h1: 3.5rem;
  --fs-h2: 3.5rem;
  --fs-h3: 2rem;
  --fs-h4: 1.2rem;
  --fs-h5: 1.25rem;
  --fs-h6: 1.25rem;
  --fs-base: 0.9375rem;
  --fs-mili: 0.875rem;
  --fs-micro: 0.8125rem;

  /* Line height */

  --lh-h1: 3.625rem;
  --lh-h2: 3.625rem;
  --lh-h3: 2.25rem;
  --lh-h4: 2.375rem;
  --lh-h5: 2rem;
  --lh-h6: 1.5rem;
  --lh-base: 1.56rem;
  --lh-mili: 1.2rem;
  --lh-micro: 1.56rem;

  /* Letter spacing */

  --ls-h1: 0.125rem;
  --ls-h2: 0.125rem;
  --ls-h3: 0.072rem;
  --ls-h4: 0.125rem;
  --ls-h5: 0.106rem;
  --ls-h6: 0.081rem;
  --ls-mili: 0.625rem;
  --ls-micro: 0.063rem;

  /* Offsets */

  --offset-big: 2.375rem;

  /* Others */

  --radius: 0.5rem;
  --modal-background: 0 0 0 1000rem rgba(0, 0, 0, 0.4);
  --burger-transition: all 0.5s ease-in-out;
  --general-transition: all 0.3s ease-in-out;
}

/* Global styling */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cardo';
  line-height: var(--lh-base);
  font-size: var(--fs-base);
  color: var(--clr-black);
  background-color: var(--clr-primary-4);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  font-family: 'Cardo', sans;
  cursor: pointer;
}

h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
  letter-spacing: var(--ls-h1);
  text-transform: initial;
}
h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
  letter-spacing: var(--ls-h2);
  text-transform: initial;
}
h3 {
    font-size: var(--fs-h3);
    font-family: 'Cardo';
    line-height: var(--lh-h3);
    letter-spacing: var(--ls-h3);
    text-transform: initial;
    color: #000;
    text-align: center;
    justify-content: center;
}
h4 {
  font-size: var(--fs-h4);
  font-family: 'Lato';
  line-height: var(--lh-h4);
  letter-spacing: var(--ls-h4);
  text-transform: initial;
}
h5 {
  font-size: var(--fs-h5);
  font-family: 'Lato';
  font-weight: 100;
  line-height: var(--lh-h5);
  letter-spacing: var(--ls-h5);
  text-transform: initial;
}
h6 {
  font-size: var(--fs-h6);
  font-family: 'Lato';
  font-weight: 100;
  line-height: var(--lh-h6);
  letter-spacing: var(--ls-h6);
  text-transform: initial;
  color: #000;
  text-align: center;
  justify-content: center;
}

.container {
  width: 90vw;
  max-width: 1110px;
  margin: 0 auto;
}

.btn-1 {
  display: inline-block;
  text-transform: initial;
  border: 2px solid #fff;
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-weight: bold;
  padding: 0.9rem 1.665rem;
  font-size: var(--fs-mili);
  line-height: var(--lh-mili);
  cursor: pointer;
  letter-spacing: var(--ls-micro);
  transition: var(--general-transition);
}

.btn-1:hover {
  background-color: var(--clr-grey-1);
}

.btn-1::selection {
  color: none;
  background-color: none;
}

.btn-12 {
  display: inline-block;
  text-transform: initial;
  border: 2px solid #000;
  background-color: var(--clr-white);
  color: var(--clr-black);
  font-weight: bold;
  padding: 0.9rem 1.665rem;
  font-size: var(--fs-mili);
  line-height: var(--lh-mili);
  cursor: pointer;
  letter-spacing: var(--ls-micro);
  transition: var(--general-transition);
  margin-left: 60rem;
}

.btn-12:hover {
  background-color: var(--clr-grey-1);
}

.btn-12::selection {
  color: none;
  background-color: none;
}

.btn-2 {
  display: inline-block;
  text-transform: initial;
  background-color: var(--clr-white);
  color: var(--clr-black);
  outline: 1px solid var(--clr-black);
  font-weight: bold;
  padding: 0.9rem 1.665rem;
  font-size: var(--fs-mili);
  line-height: var(--lh-mili);
  cursor: pointer;
  letter-spacing: var(--ls-micro);
  transition: var(--general-transition);
}

.btn-2:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.btn-2::selection {
  color: none;
  background-color: none;
}

.btn-3 {
  display: inline-block;
  position: relative;
  font-weight: bold;
  font-size: var(--fs-mili);
  color: var(--clr-grey);
  letter-spacing: var(--ls-micro);
  line-height: var(--lh-mili);
  text-transform: initial;
  padding-right: 0.9rem;
  transition: var(--general-transition);
  margin-bottom: 1.375rem;
  opacity: 0.5;
}

.btn-3::after {
  top: 3%;
  right: 0;
  background: none;
}
.btn-3:hover {
  color: var(--clr-primary-1);
}

.btn-3::selection {
  color: none;
  background-color: none;
}

.nav-link {
  font-size: var(--fs-micro);
  text-transform: initial;
  transition: var(--general-transition);
}
.nav-link:hover {
  color: var(--clr-primary-1);
}

.overline {
  display: inline-block;
  text-transform: initial;
  color: var(--clr-primary-1);
  font-size: var(--fs-micro);
  line-height: var(--fs-micro);
  letter-spacing: var(--ls-mili);
}

.reverse {
  flex-direction: row-reverse !important;
}

.show {
  display: block;
}

.hide {
  display: none;
}

svg:hover path {
  transition: var(--general-transition);
  fill: var(--clr-primary-1);
}

.nav-link {
  letter-spacing: 2px;
  font-weight: bold;
}

.shadow {
  box-shadow: var(--modal-background);
}

.light-bgc {
  background-color: hsl(0, 0%, 100%);
}
.black-bgc {
  background-color: var(--clr-white);
}

/* component stying */

.speaker-zx9 {
  background-image: url('./components/assets/home/desktop/pattern-circles.svg');
  background-position: center -8rem;
  background-repeat: no-repeat;
  background-size: 170%;
}
@media screen and (min-width: 768px) {
  .speaker-zx9 {
    background-position: center -17rem;
    background-size: 130%;
  }
}
@media screen and (min-width: 1280px) {
  .speaker-zx9 {
    background-position: -7.75rem -1rem;
    background-size: 82%;
  }
}